*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color:rgb(245, 245, 245);
    --bg-color-t:rgba(245, 245, 245, 0.308);
    --violet:rgb(102, 25, 226);
    --pink:rgb(200, 11, 247); 
    --violet-text:rgb(102, 25, 226);
    --ul-li-white:#fff;
    --ul-li-black:#00000070;
    --ul-li-p: #444;
}



.darkmode{
    --bg-color:rgb(49, 49, 49);
    --bg-color-t:rgba(49, 49, 49, 0.712);
    --violet:rgb(114, 20, 236);
    --pink:rgb(240, 41, 227); 
    --violet-text:rgb(213, 57, 245);
    --ul-li-white:#222222;
    --ul-li-black:#f3f3f39c;
    --ul-li-p: #ddd;
}

label{
    top : -20px;
    width: 160px;
    height: 50px;
    position: relative;
    display: block;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4),inset 0px -5px 15px rgba(255,255,255,0.4) ;
    cursor: pointer;
    transition: 0.4s;
}

label:after{
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 5px;
    background: linear-gradient(180deg, #ffcc89,#d8860b);   
    border-radius: 40px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transition: 0.4s;
}

input{
    width: 0;
    height: 0;
    visibility: hidden;
}

label:active:after{
    width: 100px;
}

@font-face{
    font-family: pop;
    src: url(D:\никита\работа\vs\htmlwork\html\fonts\poppins-medium.ttf);
}

body{
    background-color: var(--bg-color);
}

.map {
    visibility: hidden;
    display: block;
    transition: 0.4s;
}

.main{
    width: 100%;
    height: auto;
    font-family: pop; 
    padding: 50px 0px;
    display: grid;
    place-items: center;
    transition: 0.4s;
    background-color: var(--bg-color);
}

.main .heading{
    font-size: 25px;
    letter-spacing: -1px;
    font-weight: 500;
    color: var(--violet-text);
    position: relative;
    margin-bottom: 80px;
    transition: 0.4s;
}

.heading::after{
    position: absolute;
    content: ' ';
    width: 50%;
    height: 4px;
    left: 50%;
    bottom: -5px;
    background-image: linear-gradient(to right, var(--violet), var(--pink));
    transform: translateX(-50%);

}

/* Container Css */

.container{
    width: 70%;
    height: auto;
    position: relative;
}

.container ul::after{
    position: absolute;
    content: ' ';
    width: 2px;
    height: 100%;
    background-image: linear-gradient(to bottom, var(--violet), var(--pink));
}

.container ul{
    list-style: none;
}

.container ul li{
    width: 50%;
    height: auto;
    padding: 15px 20px;
    background-color: var(--ul-li-white);
    box-shadow: 1px 1px 25px var(--ul-li-black);
    border-radius: 10px;
    margin-bottom: 30px;
    z-index: 99;
    position: relative;
}

.container ul li:nth-child(odd){
    float: left;
    clear: right;
    transform: translateX(-30px);
}
.container ul li:nth-child(odd) .title{
    text-align: right;
}
.container ul li:nth-child(odd) .date{
    right: 20px;
}

.container ul li:nth-child(even){
    float: right;
    clear: left;
    transform: translateX(30px);
} 

.container ul li:last-child{
    margin-bottom: 0;
}

.container ul li .title{
    font-size: 20px;
    font-weight: 500;
    color: var(--violet-text);
}

ul li p {
    font-size: 15px;
    color: var(--ul-li-p);
    margin : 7px 0;
    line-height: 23px;
}

ul li button {
    font-size: 15px;
    color: var(--violet-text);
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
}

ul li .date{
    position: absolute;
    top: -40px;
    width: 155px;
    height: 35px;
    border-radius: 20px;
    color: #fff;
    background-image: linear-gradient(to right, rgb(102, 25, 226), rgb(200, 11, 247));  
    display: grid;
    place-items: center;
    font-size: 14px;
}

.container ul li .circle{
    width: 30px;
    height: 30px;
    background-color: rgba(200, 11, 247, 0.404);
    border-radius: 50%;
    position: absolute;
    top: 0;
}

.container ul li .circle::after{
    content: ' ';
    width: 15px;
    height: 15px;
    background-color: var(--violet-text);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container ul li:nth-child(odd) .circle{
    right: -30px;
    transform: translate(50%,-50%);
}

.container ul li:nth-child(even) .circle{
    left: -30px;
    transform: translate(-50%,-50%);
}

/* map criater */
.map-933{
    visibility: hidden;
}
.drow-933{
    visibility: hidden;
}

.drow{
    position: absolute;
    background-color: var(--bg-color-t);
    z-index: 99;
    display: block;
    transition: 0.4s;
    justify-content: center;
    visibility: visible; 
    width: 75%;
    height: 100vh;
    position: fixed;
    right: 0;
}

.mapimag{
    width: 100%;
    float: right ;
    height: auto;
    visibility: hidden;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.place {
    justify-content: center;
    visibility: visible; 
    background-color: var(--bg-color);
    width: 73%;
    height: 100vh;
    position: fixed;
    right: 0;
    .mapimag{
        visibility: visible;
    }
}

.timeline{
float: left;
width: 25vw;
    .container{
        transform: translateX(15px);
    }
    
    .container ul::after{
        left: -30px;
        top: 0px;
    }
    .container ul li{
        width: 100%;
        float: none;
        clear: none;
        margin-bottom: 80px;
    }
    .container ul li:nth-child(odd){
        transform: translateX(0);
        text-align: left;
    }
    .container ul li:nth-child(odd) .date{
        left: 20px;
    }
    .container ul li:nth-child(odd) .circle{
        left: -30px;
        transform: translate(-50%,-50%);
    }
    .container ul li:nth-child(odd) .title{
        text-align: left;
    }
    .container ul li:nth-child(even){
        transform: translateX(0);
    }
}

/* Media query */

@media screen and (max-width:1224px){
    .container{
        width: 85%;
    }
}

@media screen and (max-width:933px){
    .main{
        width: 100vw;
    }
    .drow{
        visibility: hidden;
    }
    .place{
        visibility: hidden;
        .mapimag{
            visibility: hidden;
        }
    }
    .container{
        width: 80%;
        transform: translateX(15px);
    }
    .container ul::after{
        left: -30px;
    }
    .container ul li{
        width: 100%;
        float: none;
        clear: none;
        margin-bottom: 80px;
    }
    .container ul li:nth-child(odd){
        transform: translateX(0);
        text-align: left;
    }
    .container ul li:nth-child(odd) .date{
        left: 20px;
    }
    .container ul li:nth-child(odd) .circle{
        left: -30px;
        transform: translate(-50%,-50%);
    }
    .container ul li:nth-child(odd) .title{
        text-align: left;
    }
    .container ul li:nth-child(even){
        transform: translateX(0);
    }
}

input:checked + label{
    background: #242424;
}

input:checked + label:after{
    left: 155px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777,#3a3a3a);  
}
